ol.list {
    list-style-type: none;
    margin: 0;
    margin-left: 3em;
    padding: 0;  
    counter-reset: li-counter;
}
ol.list > li{
    position: relative;
    margin-bottom: 10px;
    padding-left: 0.5em;
    min-height: 1.5em;
    border-left: 2px solid #CCCCCC;
}

ol.list > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;

    font-size: 1.5em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;

    content: counter(li-counter);
    counter-increment: li-counter;
}


/*** Calendar ***/

.calAlert{
    width: 595px; float: right; margin-bottom: 5px;
}

.calXBtn{
    float: right; margin-top: -5px; margin-right: -5px;
}

.calWell{
    float: left; margin-bottom: 40px;
}

.fc-event.openSesame .fc-event-skin{
    background-color: rgb(229, 229, 11);
    color: black;
}

.fc-event.customFeed .fc-event-skin{
    background-color: rgb(132, 222, 175);
    color: black;
}

.calTools{
    margin-bottom: 10px;
}

#overLay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity:100;

}

#overLay {
    z-index: 1;
}