<uib-tabset>
    <uib-tab index="0" heading="Indkomne forespørgsler">
        <all-requests></all-requests>
    </uib-tab>
    <uib-tab index="1" heading="Godkendt forespørgsel">
        Her er mine godkendte
    </uib-tab>
   
    <uib-tab index="3" heading="VagtKort klar til oprettelse">
        <new-watch-card-dir></new-watch-card-dir>
        
    </uib-tab>
    <uib-tab index="4" heading="Rediger Vagtkort">
        <pending-directive></pending-directive>
        
    </uib-tab>
    <uib-tab index="5" heading="Afholdte Vagtkort">
        TBA
        
    </uib-tab>
    <uib-tab index="6" heading="Arkiv Vagtkort">
        TBA
        
    </uib-tab>
    
</uib-tabset>