<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Vælg dato og tidspunkt</h3>
</div>

<div class="modal-body" id="modal-body">
    <form class="form-group" novalidate>
        <div class="col-md-8">
            <label>Dato</label>

            <div style="display:inline-block; min-height:290px;">
                <div uib-datepicker ng-model="atCtrl.watch.start" class="well well-sm" datepicker-options="atCtrl.options"></div>
            </div>       
        </div>
        <div class="container col-md-4">
            <div class="form-group"><label for="timestart">Starttidspunkt</label>
                <div uib-timepicker ng-model="atCtrl.watch.startTime" ng-change="atCtrl.changed()" hour-step="atCtrl.hstep" minute-step="atCtrl.mstep" show-meridian="ismeridian"></div>
            </div>
            <div class="form-group"><label for="timestart">Sluttidspunkt</label>

                <div uib-timepicker ng-model="atCtrl.watch.endTime" ng-change="atCtrl.changed()" hour-step="atCtrl.hstep" minute-step="atCtrl.mstep" show-meridian="ismeridian"></div>
            </div>
        </div>
</div>

<div class="modal-footer">
    <div class="container col-sm-8"><label class="label label-danger" ng-show="atCtrl.watch.startTime > atCtrl.watch.endTime">Starttidspunkt kan ikke være mindre end sluttidspunkt</label></div>
    <div class="container col-sm-4">

        <div class="btn-group">

            <button ng-click="atCtrl.ok()" class="btn btn-primary"  ng-disabled="atCtrl.watch.startTime > atCtrl.watch.endTime"><i class="glyphicon glyphicon-floppy-disk"/> Tilføj dato</button>
            </form>

        </div>
    </div>

</div>

