<div class="container" ng-controller="Resourcectrl as ctrl">
    

<h3>Ledige resourcer:</h3>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Resource:</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="res in ctrl.availableResources">
                <td>{{res.name}}</td>
                <td><input type="checkbox" name="useRes" value="OFF" ng-click="ctrl.changeResource(res)" /></td>
            </tr>
            
        </tbody>
    </table>

</div>

</div>
