<div class="row col-md-12 well">
<h3>Bemanding og Ressourcer:</h3>

<label>Bemanding</label> <br>
<label>Pris</label><input type="text" ng-model="requestCtrl.request.price" ng-change="requestCtrl.updateRequest()"/> <br>

        
        <br>
        <br>
        
        <h5>Valgte Resourcer:</h5>

       <select ng-options="opt.name for opt in requestCtrl.availableResources"
                ng-model="requestCtrl.selected"
                ng-change="requestCtrl.moveResource();requestCtrl.updateRequest()">
        </select>
        
        <br>
        <br>
        
        <h5>Valgte Resourcer:</h5>
        <ul ng-repeat="resource in requestCtrl.request.resources">
            <li>
                {{resource.name}} <span style="cursor: pointer" ng-click="requestCtrl.moveResourceBack(resource)">&#10060;</span>
            </li>
        </ul>
        </div>
