<div class="container" style="padding: 10px">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="h3">Indkomne forespørgsler</div>

        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="request in (allRequestCtrl.requests| allRequestFilter)" ng-click="allRequestCtrl.go(request)">
                        <td>{{request.eventName}}</td>
                        <td>{{request.eventDate}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
