

    <div class="panel panel-primary" >
        <div class="panel-heading">
            <div class="h3">Afsendte Tilbud</div>
            {{allRequestCtrl.test}}
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="request in (allRequestCtrl.requests| allSentFilter)" ng-click="allRequestCtrl.goSent(request); allRequestCtrl.setReadOnly(true)">
                        <td>{{request.eventName}}</td>
                        <td>{{request.eventDate}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

