<div class="row col-md-12 well well-sm" >
    <h3>Fakturering</h3>
    <label>Firma</label> <input type="text" ng-model="requestCtrl.request.invoice.company" ng-change="requestCtrl.updateRequest()"  ng-readonly="{{requestCtrl.readOnly}}"/><br>
    <label>CVR</label> <input type="text"  ng-model="requestCtrl.request.invoice.cvr" ng-change="requestCtrl.updateRequest()"  ng-readonly="{{requestCtrl.readOnly}}"/><br>
    <label>Navn</label><input type="text" ng-model="requestCtrl.request.invoice.name" ng-change="requestCtrl.updateRequest()"  ng-readonly="{{requestCtrl.readOnly}}"/><br>
    <label>Addresse</label><input type="text" ng-model="requestCtrl.request.invoice.street" ng-change="requestCtrl.updateRequest()"  ng-readonly="{{requestCtrl.readOnly}}"/><br>
    <label>Postnr.</label><input type="text" ng-model="requestCtrl.request.invoice.zip" ng-change="requestCtrl.updateRequest()"  ng-readonly="{{requestCtrl.readOnly}}"/> <label>By</label>
    <input type="text" name="" ng-model="requestCtrl.invoice.city" /><br>
</div>