<div class="row col-md-12 well well-sm" style = "border:1px solid black" >
<h3>Kontaktperson</h3>
<label>Navn</label> <input type="text" name="" ng-model="requestCtrl.request.contact.name" ng-change="requestCtrl.updateRequest()" ng-readonly="{{requestCtrl.readOnly}}"/><br>
<label>Telefon</label> <input type="text" name="" ng-model="requestCtrl.request.contact.phone" ng-change="requestCtrl.updateRequest()" ng-readonly="{{requestCtrl.readOnly}}" /><br>
<label>E-mail</label> <input type="text" name="" ng-model="requestCtrl.request.contact.mail" ng-change="requestCtrl.updateRequest()" ng-readonly="{{requestCtrl.readOnly}}" /><br>
</div>