<div class="row col-md-12 well">
    <h3>Arrangement</h3>
    <label>Arrangement</label> 

    {{requestCtrl.request.eventName}} <br>
    <label>Antal Gæster</label>
    {{requestCtrl.request.numberGuests}} <br>
    <label>Dato</label> <br>
    <table>
        <tr>
            <td>
                <label>Stednavn</label>
            </td>
            <td>
                <input type="text"  ng-readonly="{{requestCtrl.readOnly}}" ng-model='requestCtrl.request.venue' ng-change="requestCtrl.updateRequest()" /><br>
            </td>
        </tr>
        <tr>
            <td>
                <label>Adresse</label>
            </td>
            <td>
                <input type="text" ng-readonly="{{requestCtrl.readOnly}}" ng-model='requestCtrl.request.street' ng-change="requestCtrl.updateRequest()"/> <br>
            </td>
        </tr>
        <tr>
            <td>
                <label>Postnummer </label>
            </td>
            <td>
                <input type="text" ng-readonly="{{requestCtrl.readOnly}}" ng-model='requestCtrl.request.zip' ng-change="requestCtrl.updateRequest()"/>
            </td>
        </tr>
    </table>
                <label>by</label>
</div>