<div class="col-md-6" style = "border:1px solid black">
    <div class="container">
        <h3>Details</h3>

        <label>Ingen Forplejning</label><input type="radio" name="Forplejning" value="Ingen" ng-model="requestCtrl.request.catering"/> <br>
        <label>Arrangør stiller til rådighed</label><input type="radio" name="Forplejning" value="Arrangør" ng-model="requestCtrl.request.catering"/><br>
        <label>RK sørger for forplejning</label><input type="radio" name="Forplejning" value="RK" ng-model="requestCtrl.request.catering"/><br>

        <label>Arrangør stiller behandlingslokaler/telt til rådighed</label><input type="checkbox" name="Arrangør stiller behandlingslokaler/telt til rådighed" value="ON" /><br>
        <label>Ønskes Læge?</label><input type="checkbox" name="" value="ON" /><br>
        <label>Ønskes Ambulance?</label><input type="checkbox" name="" value="ON" ng-model="requestCtrl.request.ambulance"/><br>
        <label>Ønskes Bårehold?</label><input type="checkbox" name="" value="ON" ng-model="requestCtrl.request.stretcherTeam"/><br>
        <label>Ønskes --response team--?</label><input type="checkbox" name="" value="ON" ng-model="requestCtrl.request.responseTeam"/><br>

    </div>
</div>