<div class="col-md-6" style = "border:1px solid black">
    <div class="container">
    <h3>Details</h3>
    <div>
        <label>Ingen Forplejning</label><input type="radio" name="Forplejning" value="Ingen forplejning" /> <br>
    </div>
    <label>Arrangør stiller til rådighed</label><input type="radio" name="Forplejning" value="Arrangør stiller til rådighed" /><br>
    <label>RK sørger for forplejning</label><input type="radio" name="Forplejning" value="RK sørger for forplejning" /><br>

    <label>Arrangør stiller behandlingslokaler/telt til rådighed</label><input type="checkbox" name="Arrangør stiller behandlingslokaler/telt til rådighed" value="ON" /><br>
    <label>Ønskes Læge?</label><input type="checkbox" name="Ønskes Læge" value="ON" /><br>
    <label>Ønskes Ambulance?</label><input type="checkbox" name="Ønskes Ambulance" value="ON" /><br>
    </div>
</div>