<div class="col-md-6" style = "border:1px solid black">
    <h3>Tidspunkter</h3>
    <label>Samarit mødetid</label>          <input type="text" name="" value="" /><br>
    <label>Døre/porte åbner</label>         <input type="text" name="" value="" /><br>
    <label>Arrangement start</label>        <input type="text" name="" value="" /><br>
    <label>Arrangement slut</label>         <input type="text" name="" value="" /><br>
    <label>Arrangement varighed:</label>    <input type="text" name="" value="" /><br>
</div>