<h2>Now on the Clicked Event Page</h2>
<div class="container" ng-controller="SingleEvtCtrl as ctrl">
    

    
    
    <div class="row">
     
        <div class="col-lg-6">
            
        
<h2>Clicked Event Was: {{ctrl.eventid}}</h2>


    Info about event:
    <h2>Event Name: {{ctrl.event.name}}</h2>
    <h2>Event Start: {{ctrl.event.start}}</h2>
    <h2>Event End: {{ctrl.event.end}}</h2>
    <h2>Event Department: {{ctrl.event.department.nameOfDepartment}}</h2>

</div>
        
        <div class="col-lg-6">
            
            Ledige Samaritter:
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Navn</th> 
                        <th> Afdeling</th> 
                        <th> UddannelsesNivauer</th> 
                        <th> Funktioner</th> 
                        
                    </tr>
                </thead>
                <tbody ng-repeat="sam in ctrl.avaliableSam">
                    <tr>
                        <td>{{sam.userName}}</td>
                        <td>{{sam.department.nameOfDepartment}}</td>
                        <td ng-repeat="level in sam.redCrossLevel">
                            {{level.level}},
                        </td>
                        <td ng-repeat="wat in sam.watchFunctions">
                            {{wat.functionName}},
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="col-lg-6">
            <resource-directive event={{ctrl.eventid}}></resource-directive>
        </div>
        
        
    </div>       

</div>
