<div class="container" ng-controller="TEMPfunctionCTRL as tempCtrl">
    <div class="row">
        <div class="col-lg-6">
            
    
    
    
    
    Vælg Funktioner til Vagt: 
    <select id="functionsDropDown" name="functions"
                ng-options="func.functionName for func in tempCtrl.functionsforDepartment"
                ng-model="tempCtrl.selected"
                ng-change="tempCtrl.moveFunction()">
    </select>
    
    <br>
    
    Valgte Ressourcer:
    
    <ul ng-repeat="func in tempCtrl.clickedEvent.watchFunctions track by $index" >
        <li>
            {{func.functionName}} <span style="cursor: pointer" ng-click="tempCtrl.deleteFunctionFromWatch(func)">&#10060;</span>
            <br>
            Vælg Samarit til at Besidde Funktion:
            <select id="functionsDropDown" name="Samarit"
                ng-options="sam.userName for sam in tempCtrl.samaritter | functionfilter: func.functionName"
                ng-model="tempCtrl.selectedSamaritForFunction[$index]"  
                ng-change="tempCtrl.samaritSelectedForFunction(func.id, $index)">
            </select>
        </li> 
    </ul>
    
    <br>
    <br>
    <br>
    <br>
    
    <input type="button" value="Gem Ændringer" name="save" ng-click="tempCtrl.sendFunctions()" />
        </div>
        
    <div class="col-lg-6">
        Allerede Oprettede Funktioner:
        <ul ng-repeat="excitingFunc in tempCtrl.excistingFunctions">
            <li>
                {{excitingFunc.functionName}} : {{excitingFunc.userName}}
            </li>
        </ul>
    </div>
        
    </div>
    
    
</div>