<div style="padding: 10px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Nye vagtkort</h3>
            <label> Søg <input style="color: black" ng-model="ctrl.searchText"></label>
        </div>

        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="ctrl.sortType = 'name'; ctrl.sortReverse = !ctrl.sortReverse">
             VagtKort Overskrift
            <span ng-show="ctrl.sortType == 'name' && !ctrl.sortReverse" class="glyphicon glyphicon-arrow-down"></span>
            <span ng-show="ctrl.sortType == 'name' && ctrl.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
          </a>
                        </th>
                        <th>
                             <a href="" ng-click="ctrl.sortType = 'start'; ctrl.sortReverse = !ctrl.sortReverse">
             Tid
            <span ng-show="ctrl.sortType == 'start' && !ctrl.sortReverse" class="glyphicon glyphicon-arrow-up"></span>
            <span ng-show="ctrl.sortType == 'start' && ctrl.sortReverse" class="glyphicon glyphicon-arrow-down"></span>
          </a>
                        </th>
                        <th>Rediger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="shift in ctrl.shifts | filter:ctrl.searchText  | orderBy:ctrl.sortType:ctrl.sortReverse " >
                        <td>{{shift.name}}</td>
                        <td>{{shift.start}}</td>
                        <td>
                            <span style="color: blue; cursor: pointer" ng-click="ctrl.details(shift)">Vagtkort Detaljer</span> /
                            <span style="color: blue; cursor: pointer" ng-click="ctrl.staffing(shift)">Bemanding</span>

                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>