
<h3>New WatchCard Template</h3>

<table class="table">
    <thead>
        <tr>
            <th>VagtKort OverSkrift </th>
            <th>Tid</th>
            <th>Rediger</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="shift in ctrl.shifts" >
            <td>{{shift.name}}</td>
            <td>{{shift.start}}</td>
            <td>
                <span style="color: blue; cursor: pointer" ng-click="ctrl.details(shift)"> Vagtkort Detajler</span> /
                <span style="color: blue; cursor: pointer" ng-click="ctrl.staffing(shift)"> Bemanding</span>
                
            </td>
        </tr>
    </tbody>

</table>