<div style="padding: 10px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Nye vagtkort</h3>
        </div>

        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>VagtKort OverSkrift </th>
                        <th>Tid</th>
                        <th>Rediger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="shift in ctrl.shifts" >
                        <td>{{shift.name}}</td>
                        <td>{{shift.start}}</td>
                        <td>
                            <span style="color: blue; cursor: pointer" ng-click="ctrl.details(shift)">Vagtkort Detaljer</span> /
                            <span style="color: blue; cursor: pointer" ng-click="ctrl.staffing(shift)">Bemanding</span>

                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>